.active {
  color: rgb(150, 150, 150)!important;
}

.nav-links {
  background: rgb(12, 58, 65);
  display: block;
  font-size: 1.5em;
  font-weight: 600;
}

.nav-links > ul > li {
  padding: 20px 10px 20px 10px;
  display: inline-block;
}

ul {
  margin-bottom: 0px !important;
}

.nav-links > ul > li > a {
  text-decoration: none;
  color: white;
}

.nav-container {
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {

  .nav-links {
    font-size: 1em;
    font-weight: 400;
  }
}
