#new-batch {
  height: 100vh;
}


#date-input {
  margin: auto;
  margin-top: 30vh;
  display: block;
  padding: 20px;
}

#submit-nodate {
  margin-top: 20px;
  text-align: center;
  display: block;
}

#submit-nodate > .btn {
  width: 150px;
  margin-right: 10px;

}
#new-batch-inputs > * {
}
